/UEProject/.vs/Terraforma/v14/.suo
/UEProject/Saved
/UEProject/Terraforma.VC.VC.opendb
/UEProject/Terraforma.VC.db
/UEProject/Terraforma.sln
/UEProject/Intermediate
/TFACompiler/src/Win32/Debug
/TFACompiler/src/Win32/Release
/TFACompiler/src/__history
