/UEProject/.vs/Terraforma/v14/.suo
/UEProject/Binaries/Win64
/UEProject/Saved
/UEProject/Terraforma.VC.VC.opendb
/UEProject/Terraforma.VC.db
/UEProject/Terraforma.sln
/UEProject/Intermediate/AssetRegistryCache
/UEProject/Intermediate/Build
/UEProject/Intermediate
