/UEProject/.vs/Terraforma/v14/.suo
/UEProject/Saved
/UEProject/Terraforma.VC.VC.opendb
/UEProject/Terraforma.VC.db
/UEProject/Terraforma.sln
/UEProject/Intermediate
/TFACompiler/src/Win32/Debug
/TFACompiler/src/Win32/Release
/TFACompiler/src/__history
/Build/WindowsNoEditor/Terraforma
/UEProject/Plugins/TerraformaLandscapeLoader/Binaries/Win64/UE4Editor-TerraformaLandscapeLoader.pdb
/UEProject/Plugins/TerraformaLandscapeLoader/Binaries/Win64/UE4Editor-TerraformaLandscapeLoaderImporter.pdb
/UEProject/Binaries/Win64/UE4Editor-Terraforma.pdb
/TFACompiler/src/TFACompiler.dproj
/TFACompiler/src/TFACompiler.dproj.local
/TFACompiler/src/TFACompiler.dsk
/TFACompiler/src/TFACompiler.identcache
/TFACompiler/src/TFACompiler.res
/TFACompiler/src/TFACompiler.~dsk
/Build/WindowsNoEditor
/UEProject/Plugins/TerraformaLandscapeLoader/Intermediate/Build/Win64/UE4Editor/Inc/TerraformaLandscapeLoaderImporter
/UEProject/Plugins/TerraformaLandscapeLoader/Intermediate/Build/Win64/UE4Editor/Development
/UEProject/Plugins/TerraformaLandscapeLoader/Intermediate/Build/Win64/UE4Editor/Inc/TerraformaLandscapeLoader
/Temp
/UEProject/Plugins/TerraformaLandscapeLoader/Binaries/Win64/UE4Editor-TerraformaLandscapeLoader-Win64-DebugGame.dll
/UEProject/Plugins/TerraformaLandscapeLoader/Binaries/Win64/UE4Editor-TerraformaLandscapeLoader-Win64-DebugGame.pdb
/UEProject/Plugins/TerraformaLandscapeLoader/Binaries/Win64/UE4Editor-TerraformaLandscapeLoaderImporter-Win64-DebugGame.dll
/UEProject/Plugins/TerraformaLandscapeLoader/Binaries/Win64/UE4Editor-TerraformaLandscapeLoaderImporter-Win64-DebugGame.pdb
/UEProject/Plugins/TerraformaLandscapeLoader/Binaries/Win64/UE4Editor-Win64-DebugGame.modules
/UEProject/Plugins/TerraformaLandscapeLoader/Intermediate/Build/Win64/UE4Editor/DebugGame
